---
interface Props {
	name: string;
	price: string;
	img: string;
	url: string;
}

const { name, price, img, url } = Astro.props;
---

<div class="bg-white text-black border border-gray-200 rounded shadow 
	dark:bg-gray-800 dark:border-gray-700 dark:text-white p-2 grid gap-[0.5rem] grid-cols-1">
    <a href={url} target="_blank" class="flex justify-center">
        <img class="rounded" src={img} loading="lazy" alt="product image" />
    </a>
    <a href={url}>
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white" set:html={name}></h5>
    </a>

    <div>{price}€</div>

    <a href={url} target="_blank" class="
        bg-gray-200 font-medium rounded-lg text-center p-2 mt-auto
        flex flex-col align-center justify-center
        dark:text-white dark:bg-gray-700 
        hover:bg-blue-700 hover:text-white
    ">Amazon</a>
</div>